html{
    background-color: #2e341a;
    overflow-y: auto;
    overflow-x: hidden;
    letter-spacing: 1.5px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #606c38;
    width: auto;
    margin: 10px;
    padding: 0;
}
p{
    font-size: 1.2rem;
}
h1{
    color:#DEE4CA;
    text-shadow: 2px 2px 5px #283618;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 30px 0 0 0;
}
ul{
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-left: 0;
}
li{
    width: 240px;
    display: inline-block;
    font-size: 1rem;
    border-style:solid;
    border-width: 0px;
    border-color: #586432;
    background-color: #606c38;
}
li a{
    display: block;
    height: auto;
    width: 250px;
    color: #DEE4CA;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 0 20px 0;
}
li:hover{
    background-color: #465222;
    border-color: #9eae6a;
}
section{
    color: #DEE4CA;
    text-shadow: 2px 2px 5px #5B6735;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    animation: fadeIn 2s;
    padding-bottom: 40px;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.signature{
    position:fixed;
    bottom: 0;
    padding: 10px 10px 10px;
    background-color: #606c38;
    text-align: right;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    right: 0;
}
footer > p{
    color: #283618;
    font-size: smaller;
}
.id{
    margin: 0;
    padding: 0;
}
.id2{
    font-size: small;
    margin-top: -10px;
}
input{
    height: 30px;
}
input[type="text"]:focus, textarea{
    background-color: #DEE4CA;
}
input[type="submit"], textarea{
    background-color: #6f7d42;
    height: 40px;
    width: 90px;
    margin-top: 10px;
    font-weight: bold;
    color: #283618;
    border-style: solid 1px;
}
input[type="submit"]:hover, textarea{
    background-color: #5B6735;
}
.topgoer{
    background-color:#9eae6a;
    position: fixed;
    right: 0;
    top: 90%;
    margin-right: 20px;
    height: 30px;
    width: 50px;
    font-size: 11px;
    text-decoration: none;
    color: #283618;
}
.error{
    text-decoration: none;
    text-shadow: none;
    font-weight: light;
    font-size: medium;
    color: red;
}
.product_opinion{
    display: inline-table;
    height: 350px;
    width: 500px;
    background-color: #3b461a;
    border: solid, #465222;
    box-shadow: 0px 0px 5px #17210c;
    padding: -10px 0 10px 0;
    margin: 10px;
    overflow:scroll;
}
.opinion_content1{
    font-size: 12px;
    float: right;
    position:flex;
    top: 50%;
}
.opinion_content2{
    font-size: 12px;
    float: left;
}
.container{
    background-color: #3b461a;
    width: 500px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    padding: 0px 10px 0 10px;
    display: inline-table;
    justify-content: center;
}
.container > h5{
    justify-content: center;
}
.goodnbad{
    display: absolute;
}
.pro{
    font-weight: light;
    font-size: 12px;
    display: inline-flex;
    padding: -5px;
    color: #d0e491;
}
.con{
    font-weight: light;
    font-size: 12px;
    display: inline-flex;
    padding: 10px 0 0 0;
    color: #f1b8a3;

}
.produkt_link{
    border: solid, #333e13;
    box-shadow:inset 0 0 3px #465222;
    color: #9eae6a;
    font-size: 25px;
    vertical-align: center;
}
.produkt_link:hover{
    color:#606c38;
}
.recommended{
    font-weight: bold;
    font-size: 23px;
    padding: 0;
}
.not_recommended{
    font-weight: bold;
    padding: 0;
    font-size: 23px;
}
.opinion_content{
    font-weight: light;
    font-size: 15px;
}
::-webkit-scrollbar{
    background:#465222;
    width: 14px;
}
::-webkit-scrollbar-thumb{
    background: #606c38;
    border-radius: 10px;
    box-shadow:inset 0 0 3px #465222; 

}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #283618; 
}