{% extends "base.html" %}
{% block title %}
    Opinie o produkcie: {{product_id}}.         
{% endblock title %}
{% block content %}
    {% for opinion in product %}
    <div class="product_opinion">
        {% if not opinion["recommendation"] %}
        <h5>{{opinion["author"]}} nie wyraził opinii</h5>
        {% elif opinion["recommendation"] == "Polecam" %}
        <h5 class="recommended"><i class="bi bi-emoji-heart-eyes"></i> {{opinion["author"]}} Poleca <i class="bi bi-emoji-heart-eyes"></i></h5>
        {% else %}
        <h5 class="not_recommended"><i class="bi bi-ban"></i> {{opinion["author"]}} Nie poleca <i class="bi bi-ban"></i></h5>
        {% endif %}
        <p class="opinion_content">{{opinion["content"]}}</p>
    </div>
    {% endfor %}
    <a href="#" class="topgoer">Back to top</a>
{% endblock content %}